.connect-card{
    min-width: 30vw;
    max-width: 30vw;
    min-height: 30vh;
    flex-direction: column;
    padding: 2px 0px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-layout {
    flex-direction: row;
    margin-right: 40px;
    gap: 10px 10px;
    min-width: 30vw;
    padding: 2px 12px;
    display:flex;
    flex-wrap: wrap;
}

.profile-pic {
    margin:auto;
    display: block;
}

.test-button {
    float: right;
}

.contains_both {
    padding: 0px;
    width: 100%;
    display: inline-block;
    margin: 0; 
  }
  
  .box_l {
      float: left;
      width: 60%;
      height: 100px;
  
      padding: 2px;
  }
  
  .box_r {
      float: right;
      width: 30%;
      height: 100px;
  
      padding: 5px;
      
      display: flex;
      align-items: center;
      justify-content: right;
  }
  
  .clear-both {
    clear: both;
  }